body {
    background-color: #D5E1EF;
    margin: 0;
    padding: 0;
}

.main {
    font-family: sans-serif;
    font-size: 15px;
    background-color: white;
    height: 350px;
    width: 200px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 50%;
    padding: 20px;
    transform: translate(-50%, -50%);
    border-radius: 10px; 
    border-radius: 10px;
}

span {
    color: hsl(210, 7%, 63%);
    font-weight: 400;
}

p {
    font-weight: 700;
}

img {
    height: 200px;
    width: 200px;
    border-radius: 10px;
}
